<form>
  <label>Student Form</label><br>
    <label>First Name:</label><br>
  <input type="text" id="student_title" name="student[first_name]"><br>

  <label>Last Name:</label><br>
  <textarea id="student_description" name="student[last_name]"></textarea><br>

  <input type="submit" value="Submit Student">
</form>

<%= params.inspect %>
<%# <form action="<%= students_path %>" method="POST"> %>
